.DS_Store
**/.DS_Store
Thumbs.db

.idea/
.vscode/

vendor/
node_modules/

web/sites/default/files/
web/sites/default/settings.php
web/sites/default/settings.*.php

.env
.env.local

*.log
*.sql
*.sqlite
